<div ng-controller="DataPendudukController">
	<div class="box">
	<div class="box-header">
		<h3 class="box-title">Data penduduk</h3>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<table id="example2" class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>NIK</th>
					<th>NO.KK</th>
					<th>NAMA</th>
					<th>ALAMAT DUKUH</th>
					<th>TEMPAT LAHIR</th>
					<th>STATUS</th>
					<th>PEKERJAAN</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="penduduk in listPenduduk">
					<td>{{ penduduk.noNik}}</td>
					<td>{{ penduduk.noKK}}</td>
					<td>{{ penduduk.nama}}</td>
					<td>{{ penduduk.nama}}</td>
					<td>{{ penduduk.nama}}</td>
					<td>{{ penduduk.nama}}</td>
					<td>{{ penduduk.nama}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>

