<div ng-controller="InputKartuKeluargaController">
	<div class="col-md-12">
		<div class="box box-info">
			<div class="box-header with-border">
				<h3 class="box-title">Input Kartu Keluarga</h3>
			</div>
			<form class="form-horizontal">
				<div class="box-body">

					<div class="form-group">
						<label class="control-label col-sm-2" for="nik">No KK:</label>
						<div class="col-sm-10">
							<input ng-model="kartuKeluarga.noKk" type="number" class="form-control" placeholder="Masukkan Nomor KK">
						</div>
					</div>					
					<div class="form-group">
						<label class="control-label col-sm-2" for="pwd">Nama Kepala KK:</label>
						<div class="col-sm-10">
							<input ng-model="kartuKeluarga.namaKepalaKk" type="text" class="form-control"
								placeholder="Masukkan nama Kepala Keluarga">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="pwd">Alamat Dukuh:</label>
						<div class="col-sm-10">
							<select name="repeatSelect" id="repeatSelect"
								ng-model="kartuKeluarga.alamatDesa" class="form-control select2"
								style="width: 100%;">
								<option value="">---Please select---</option>
								<option ng-repeat="option in kartuKeluarga.availableOptions"
									value="{{option.id}}">{{option.name}}</option>

							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="kk">Desa:</label>
						<div class="col-sm-10">
							<input ng-model="kartuKeluarga.desa" type="text" class="form-control" id="kk" name="kk" disabled>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">Tanggal Keluar KK:</label>
						<div class="col-sm-10">
							<div class="input-group date ">
								<div class="input-group-addon">
									<i class="fa fa-calendar"></i>
								</div>
								<input ng-model="kartuKeluarga.tanggalKeluar" type="text"
									class="form-control pull-right" id="datepicker1"
									placeholder="Masukkan Tanggal Keluar KK">
							</div>
						</div>
					</div>					
					<div class="box-footer">
						<button type="submit" class="btn btn-default">Cancel</button>
						<button ng-click="simpanKartuKeluarga()" type="submit"
							class="btn btn-success pull-right">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
	$(function() {
		$('#datepicker1').datepicker({
			format : 'yyyy-mm-dd',
			autoclose : true,
		todayHighlight : true,
		});
	});
	</script>
</div>

