<div  ng-controller="LookupKartuKeluargaController as pc">

	<div class="col-md-12">
		<div class="box box-info">
			<div class="box-header with-border">
				<h4 align="center">KARTU KELUARGA</h4>
			</div>
			<div class="box-body">
				<div class="row">
				<form class="form-horizontal">
				  <div class="col-sm-6">				  	
						<div class="box-body">
							<div class="form-group">
								<label class="control-label col-sm-3">No. KK:</label>
								<div class="col-sm-9">
									<input ng-model="kartuKeluarga.noKk" type="text" class="form-control" disabled="true">
								</div>
							</div>			
							<div class="form-group">
								<label class="control-label col-sm-3" >Nama Kepala KK:</label>
								<div class="col-sm-9">
									<input ng-model="kartuKeluarga.namaKepalaKk" type="text" class="form-control" disabled="true">
								</div>
							</div>
						  </div>				 
					</div>
					 <div class="col-sm-6">
						 <form class="form-horizontal">
							<div class="box-body">			
								<div class="form-group">
									<label class="control-label col-sm-3" >Alamat:</label>
									<div class="col-sm-9">
										<input ng-model="kartuKeluarga.alamatDesa" type="text" class="form-control" disabled="true">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3">Desa:</label>
									<div class="col-sm-9">
										<input ng-model="kartuKeluarga.desa" type="text" class="form-control" disabled="true">
									</div>
								</div>
							  </div>									 
						</div>						
				 	 </div>
				 	 <div class="box-footer">
						 <button type="button" class="btn btn-info" ng-click="pc.open('lg', 0)">Tambah Anggota keluarga</button>
					</div>
			</div>
			<table id="example2" class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>NIK</th>
					<th>NAMA</th>
					<th>TEMPAT LAHIR</th>
					<th>STATUS</th>
					<th>PEKERJAAN</th>
					<th>ACTION</th>
				</tr>
			</thead>
			<tbody>
				 <tr ng-repeat="anggota in kartuKeluarga.anggotaKk">
					<td>{{ anggota.noNik}}</td>				
					<td>{{ anggota.nama}}</td>					
					<td>{{ anggota.tanggalLahir}}</td>
					<td>{{ anggota.status}}</td>
					<td>{{ anggota.pekerjaan}}</td>
					<td>
						<button type="button" class="btn btn-warning" ng-click="pc.open('lg', anggota)">Update</button>
						<button type="button" class="btn btn-danger" ng-click="pc.deleteAnggotaKk(anggota, $index)">Delete</button>
					</td>
				</tr> 
			</tbody>
		</table>		 
		</div>
	</div>
	


</div>