<div ng-controller="PendudukController">
	<h1>Input Data Penduduk</h1>
	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2" for="nik">NIK:</label>
			<div class="col-sm-10">
				<input ng-model="penduduk.noNik" type="number" class="form-control"
					placeholder="Masukkan Nomor NIK">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="pwd">Nama:</label>
			<div class="col-sm-10">
				<input ng-model="penduduk.nama" type="text" class="form-control"
					placeholder="Masukkan nama">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="pwd">Alamat Dukuh:</label>
			<div class="col-sm-10">
				<select name="repeatSelect" id="repeatSelect"
					ng-model="penduduk.alamatDesa" class="form-control select2"
					style="width: 100%;">
					<option ng-repeat="option in penduduk.availableOptions"
						value="{{option.id}}">{{option.name}}</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="tempatlahir">Tempat:</label>
			<div class="col-sm-10">
				<input ng-model="penduduk.tempatLahir" type="text"
					class="form-control" placeholder="Masukkan tempat lahir">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="pwd">Tanggal
				Lahir:</label>
			<div class="col-sm-10">
				<input ng-model="penduduk.tanggalLahir" type="date"
					class="form-control" placeholder="Masukkan tanggal lahir">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="pwd">Status:</label>
			<div class="col-sm-10">
				<input ng-model="penduduk.status" type="text" class="form-control"
					placeholder="Masukkan status">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="pwd">Pekerjaan:</label>
			<div class="col-sm-10">
				<input ng-model="penduduk.pekerjaan" type="text"
					class="form-control" placeholder="Masukkan Pekerjaan">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="kk">No.KK:</label>
			<div class="col-sm-10">
				<input ng-model="penduduk.noKK" type="number" class="form-control"
					id="kk" placeholder="Masukkan No. KK" name="kk">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button ng-click="simpanPenduduk()" type="submit"
					class="btn btn-success">Submit</button>
			</div>
		</div>
	</form>
</div>

