<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Aplikasi Bugo - Data Penduduk</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/simple-sidebar.css" rel="stylesheet">

</head>

<body ng-app="aplikasidesa">

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Aplikasi Bugo </div>
      <div class="list-group">
        <a href="../pages/input-penduduk" class="list-group-item list-group-item-action bg-primary text-white">Input Data</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <h1 class="mt-4">Input Data penduduk</h1>
        <div class="container">
          <div ng-controller="PendudukController">
              <form class="form-horizontal">
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="nik">NIK:</label>
                    <div class="col-sm-10">
                      <input ng-model="penduduk.noNik" type="number" class="form-control" placeholder="Masukkan Nomor NIK">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Nama:</label>
                    <div class="col-sm-10">          
                      <input ng-model="penduduk.nama" type="text" class="form-control"  placeholder="Masukkan nama">
                    </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-sm-2" for="pwd">Alamat Dukuh:</label>
                       <div class="col-sm-10">
                          <select name="repeatSelect"  id="repeatSelect" ng-model="penduduk.alamatDesa" class="form-control select2" style="width: 100%;">
                              <option ng-repeat="option in penduduk.availableOptions" value="{{option.id}}">{{option.name}}</option>
                          </select> 
                        <!-- <select ng-model="penduduk.alamatDesa" class="form-control select2" style="width: 100%;">
                            <option>Ngancar RT: 1/ RW: 1</option>
                            <option>Penjalin RT: 2/ RW: 1</option>
                            <option>Tambak RT:3/ RW:1</option>
                            <option>Kamandawa RT: 4/ RW: 1</option>
                            <option>Gajah RT: 1/RW: 2</option>
                            <option>Mintorogo RT: 2/RW: 2</option>
                            <option>Pondok RT: 3/RW: 2</option>
                            <option>KarangPanas RT: 4/RW: 2</option>
                        </select> -->
                      </div>
                  </div>
                   <div class="form-group">
                    <label class="control-label col-sm-2" for="tempatlahir">Tempat:</label>
                    <div class="col-sm-10">          
                      <input ng-model="penduduk.tempatLahir" type="text" class="form-control"   placeholder="Masukkan tempat lahir">
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Tanggal Lahir:</label>
                    <div class="col-sm-10">          
                      <input ng-model="penduduk.tanggalLahir" type="date" class="form-control" placeholder="Masukkan tanggal lahir" >
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Status:</label>
                    <div class="col-sm-10">          
                      <input ng-model="penduduk.status"  type="text" class="form-control" placeholder="Masukkan status">
                    </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-sm-2" for="pwd">Pekerjaan:</label>
                      <div class="col-sm-10">          
                        <input ng-model="penduduk.pekerjaan" type="text" class="form-control" placeholder="Masukkan Pekerjaan" >
                      </div>
                    </div>
                   <div class="form-group">
                    <label class="control-label col-sm-2" for="kk">No.KK:</label>
                    <div class="col-sm-10">          
                      <input ng-model="penduduk.noKK" type="number" class="form-control" id="kk" placeholder="Masukkan No. KK" name="kk">
                    </div>
                  </div>
                  <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-10">
                      <button ng-click="simpanPenduduk()" type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                </form>
          </div>
         
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script src="../angularJs/penduduk.js"></script>
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
  
</body>

</html>
